In [ ]:
import pandas as pd

/Users/seungju/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/seungju/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
display(train.isnull().sum())
display(test.isnull().sum())

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

ID                     0
User-ID                0
Book-ID                0
Age                    0
Location               0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
test['Book-Author'].fillna('Unknown', inplace=True)
test.isnull().sum()

ID                     0
User-ID                0
Book-ID                0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
print(train.duplicated().sum())
print(test.duplicated().sum())

0
0

In [ ]:
train.dtypes

ID                      object
User-ID                 object
Book-ID                 object
Book-Rating              int64
Age                    float64
Location                object
Book-Title              object
Book-Author             object
Year-Of-Publication    float64
Publisher               object
dtype: object

In [ ]:
train.describe()

         Book-Rating            Age  Year-Of-Publication
count  871393.000000  871393.000000        871393.000000
mean        2.820579      36.799861          1968.903339
std         3.846906      12.065509           228.077752
min         0.000000       0.000000            -1.000000
25%         0.000000      31.000000          1991.000000
50%         0.000000      35.000000          1997.000000
75%         7.000000      41.000000          2001.000000
max        10.000000     244.000000          2021.000000

In [ ]:
display(train['Age'].value_counts())
display(test['Age'].value_counts())

Age
35.0     251455
33.0      27349
29.0      25456
30.0      23085
31.0      22515
          ...
118.0         1
109.0         1
147.0         1
123.0         1
132.0         1
Name: count, Length: 137, dtype: int64

Age
35.0     45940
33.0      5513
29.0      5181
36.0      4378
32.0      4227
         ...
84.0         1
237.0        1
95.0         1
156.0        1
99.0         1
Name: count, Length: 108, dtype: int64

In [ ]:
def age_preprocess(df):
    df['Age'][df['Age'] >= 100] = 100

    df['Age'][(0 <= df['Age']) & (df['Age'] < 20)] = 10
    df['Age'][(20 <= df['Age']) & (df['Age'] < 25)] = 20
    df['Age'][(25 <= df['Age']) & (df['Age'] < 30)] = 25
    df['Age'][(30 <= df['Age']) & (df['Age'] < 35)] = 30
    df['Age'][(35 <= df['Age']) & (df['Age'] < 40)] = 35
    df['Age'][(40 <= df['Age']) & (df['Age'] < 45)] = 40
    df['Age'][(45 <= df['Age']) & (df['Age'] < 50)] = 45
    df['Age'][(50 <= df['Age']) & (df['Age'] < 70)] = 60
    df['Age'][(70 <= df['Age']) & (df['Age'] < 100)] = 10

    return df

train = age_preprocess(train)
test = age_preprocess(test)

/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'] >= 100] = 100
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(0 <= df['Age']) & (df['Age'] < 20)] = 10
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(20 <= df['Age']) & (df['Age'] < 25)] = 20
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(25 <= df['Age']) & (df['Age'] < 30)] = 25
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(30 <= df['Age']) & (df['Age'] < 35)] = 30
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(35 <= df['Age']) & (df['Age'] < 40)] = 35
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(40 <= df['Age']) & (df['Age'] < 45)] = 40
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(45 <= df['Age']) & (df['Age'] < 50)] = 45
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(50 <= df['Age']) & (df['Age'] < 70)] = 60
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(70 <= df['Age']) & (df['Age'] < 100)] = 10
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'] >= 100] = 100
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(0 <= df['Age']) & (df['Age'] < 20)] = 10
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(20 <= df['Age']) & (df['Age'] < 25)] = 20
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(25 <= df['Age']) & (df['Age'] < 30)] = 25
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(30 <= df['Age']) & (df['Age'] < 35)] = 30
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(35 <= df['Age']) & (df['Age'] < 40)] = 35
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(40 <= df['Age']) & (df['Age'] < 45)] = 40
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(45 <= df['Age']) & (df['Age'] < 50)] = 45
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(50 <= df['Age']) & (df['Age'] < 70)] = 60
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/645248797.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][(70 <= df['Age']) & (df['Age'] < 100)] = 10

In [ ]:
train['Age'] = train['Age'].astype(int)
test['Age'] = test['Age'].astype(int)
display(train.Age.value_counts())
display(test.Age.value_counts())

Age
35     324724
30     117372
60     103788
25     103471
40      72065
45      58682
20      55201
10      33405
100      2685
Name: count, dtype: int64

Age
35     59274
30     21029
60     19679
25     19271
40     12225
20     10784
45      9964
10      7054
100      341
Name: count, dtype: int64

In [ ]:
display(train['Year-Of-Publication'].value_counts())
display(test['Year-Of-Publication'].value_counts())

Year-Of-Publication
2002.0    77173
2001.0    67566
1999.0    64175
2000.0    61749
2003.0    60744
          ...
2008.0        1
1909.0        1
1904.0        1
1378.0        1
1910.0        1
Name: count, Length: 110, dtype: int64

Year-Of-Publication
2002.0    14610
2001.0    12201
2003.0    11792
1999.0    11008
2000.0    10577
          ...
1948.0        1
2011.0        1
1909.0        1
2020.0        1
1930.0        1
Name: count, Length: 82, dtype: int64

In [ ]:
train[train['Year-Of-Publication'] == -1]
# Year-Of-Publication; '-1'로 표기된 missing values는 도서를 찾아보면서 값 대체 가능
# 시간 부족으로 단계 생략

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
184,TRAIN_000184,USER_00049,BOOK_121460,0,35,"gaylord, michigan, usa",Bxc Blue Bay Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
186,TRAIN_000186,USER_00049,BOOK_175661,10,35,"gaylord, michigan, usa",Lighthouse Mystery,Gertrude C Warner,-1.0,Scholastic Inc
191,TRAIN_000191,USER_00049,BOOK_230275,0,35,"gaylord, michigan, usa",Mike's Mystery,Gertrude Cha Warner,-1.0,Scholastic Inc
231,TRAIN_000231,USER_00054,BOOK_122689,0,35,"spring, texas, usa",Charming Billy,Alice Mcdermott,-1.0,"Farrar, Straus Giroux"
290,TRAIN_000290,USER_00060,BOOK_165427,0,25,"los angeles, california, usa",Moon Palace,Paul Auster,-1.0,Faber Faber Inc
...,...,...,...,...,...,...,...,...,...,...
870700,TRAIN_870700,USER_92056,BOOK_093874,5,35,"leucadia, california, usa",High Ground,John Mcgahern,-1.0,Faber Faber Inc
870751,TRAIN_870751,USER_92058,BOOK_117063,0,20,"halifax, nova scotia, canada",Hotel Du Lac,Anita Brookner,-1.0,Penguin Putnam~trade
870776,TRAIN_870776,USER_92058,BOOK_181486,8,20,"halifax, nova scotia, canada",Laurels Kitchen a Handbook for Vegetarian Co,Laurel Robertson,-1.0,Bantam Doubleday Dell
870895,TRAIN_870895,USER_92080,BOOK_045027,10,35,"brookhaven, mississippi, usa",Best of Sisters In Crime,Marilyn Wallace,-1.0,Penguin Putnam~childrens Hc
871300,TRAIN_871300,USER_92093,BOOK_216824,0,35,"lakewood, colorado, usa",Girlfriends,Jayne Wexler,-1.0,Running Press

In [ ]:
def year_preprocess(df):

    df['Year-Of-Publication'][(-1 < df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1980)] = 1970
    df['Year-Of-Publication'][(1980 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1985)] = 1980
    df['Year-Of-Publication'][(1985 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1990)] = 1985
    df['Year-Of-Publication'][(1990 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1995)] = 1990
    df['Year-Of-Publication'][(1995 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2000)] = 1995
    df['Year-Of-Publication'][(2000 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2005)] = 2000
    df['Year-Of-Publication'][(2005 <= df['Year-Of-Publication'])] = 2010

    return df

train = year_preprocess(train)
test = year_preprocess(test)

/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(-1 < df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1980)] = 1970
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1980 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1985)] = 1980
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1985 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1990)] = 1985
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1990 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1995)] = 1990
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1995 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2000)] = 1995
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2000 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2005)] = 2000
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2005 <= df['Year-Of-Publication'])] = 2010
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(-1 < df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1980)] = 1970
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1980 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1985)] = 1980
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1985 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1990)] = 1985
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1990 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 1995)] = 1990
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(1995 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2000)] = 1995
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2000 <= df['Year-Of-Publication']) & (df['Year-Of-Publication'] < 2005)] = 2000
/var/folders/mb/49y4plvx5bbdyyrk98dbvt0m0000gn/T/ipykernel_61573/1808374585.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Of-Publication'][(2005 <= df['Year-Of-Publication'])] = 2010

In [ ]:
train['Year-Of-Publication'] = train['Year-Of-Publication'].astype('int')
test['Year-Of-Publication'] = test['Year-Of-Publication'].astype('int')
display(train['Year-Of-Publication'].value_counts())
display(test['Year-Of-Publication'].value_counts())

Year-Of-Publication
 2000    288914
 1995    262876
 1990    155094
 1985     81341
 1980     42128
 1970     29337
-1        11515
 2010       188
Name: count, dtype: int64

Year-Of-Publication
 2000    53469
 1995    48785
 1990    28008
 1985    14232
 1980     7391
 1970     5294
-1        2425
 2010       17
Name: count, dtype: int64

In [ ]:
# 성능 비교 후 numeric variables 범주화 결정 (원래 개인적으로 잘 안 함,,)
# 위 코드에서는 columns를 덮어썼지만, 새로운 column을 생성하고 original을 drop하기

In [ ]:
train['Country'] = train['Location'].apply(lambda x: x.split(',')[-1].strip())
test['Country'] = test['Location'].apply(lambda x: x.split(',')[-1].strip())
train = train.drop(['Location'], axis=1)
test = test.drop(['Location'], axis=1)

In [ ]:
display(train.Country.value_counts())
display(test.country.value_counts())
# count가 매우 적은 경우 찾아서 원래 데이터 참고하여 값 변환 필요
# 같은 국가가 다른 표기를 할 경우도 찾아서 값 변환 필요
# 노가다,,,,,

In [ ]:
train.Country.unique()
# 외국어 표기도 찾아서 변환 필요
# 노가다 22,,,

In [ ]:
# Country missing value filling idea: ID 별 (Book) 최다 Country로 채우기?

In [ ]:
import re

pattern = r'[^\w\s\d]'
cols = ['Country', 'Book-Title', 'Book-Author', 'Publisher']

def object_preprocess(df):
    for c in cols:
        df[c] = df[c].astype(str)
        df[c] = df[c].apply(lambda x: re.sub(pattern, '', x))
        df[c] = df[c].apply(lambda x: x.strip())
        df[c] = df[c].replace('\s+', ' ', regex=True)
        df[c] = df[c].str.replace(' ', '').str.lower()
    return df

train = object_preprocess(train)
test = object_preprocess(test)

In [ ]:
# Book-Title, Book-Author, Publisher도 같은 사람이나 다르게 표기된 부분 찾아서 변환 필요
# missing value도 해당 row를 찾아서 다른 정보를 참고하면 fillna 가능
# 노가다 333......

In [ ]:
# categorical columns -> Label Encoding..?
# 가서 얘기해보자,,

In [ ]:
pip install scikit-surprise

In [ ]:
from surprise import SVD, Dataset, Reader, accuracy

In [ ]:
reader = Reader(rating_scale=(0, 10))
train = Dataset.load_from_df(train[['User-ID', 'Book-ID', 'Book-Rating']], reader)
train = train.build_full_trainset()

In [ ]:
model = SVD()
model.fit(train)

In [ ]:
submit = pd.read_csv('sample_submission.csv')
submit['Book-Rating'] = test.apply(lambda row: model.predict(row['User-ID'], row['Book-ID']).est, axis=1)
submit.to_csv('./baseline_submit.csv', index=False)